<div class="container mt-5">
  <h3 class="mt-4 font-weight-normal text-center">Products</h1>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Product ID</th>
          <th scope="col">Name</th>
          <th scope="col">Model</th>
          <th scope="col">Brand</th>
          <th scope="col">Released Date</th>
          <th scope="col">RAM</th>
          <th scope="col">External Storage</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <th scope="row"><%= product.id %></th>
            <td><%= link_to product.name, product_path(product) %></td>
            <td><%= product.model %></td>
            <td><%= product.brand %></td>
            <td><%= product.released_date %></td>
            <td><%= product.ram %></td>
            <td><%= product.external_storage %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>