<!DOCTYPE html>
<html>
  <head>
    <title>ProductApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="d-flex justify-content-end mt-4 mr-2">
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger" %>
      </div>
    <% end %>
    <%= yield %>
    <div id="notifications"><%= flash_notifications %></div>
  </body>
</html>
